.open-menu {
    align-items: center;
    background-color: hsl(216deg 9% 23% / 100%);
    color: #fff;
    display: flex;
    height: 3.5rem;
    justify-content: center;
    width: 3.5rem;

    /* padding: 1rem; */
}

.open-menu:hover {
    background-color: hsl(13deg 75% 58% / 100%);
    cursor: pointer;
}x1x1

.open-menu .icon-open {
    display: inline;
    height: 14px;
    width: 23px;
}

.open-menu .icon-close {
    display: none;
}

.open-menu.open .icon-open {
    display: none;
}

.open-menu.open .icon-close {
    display: inline;
    height: 18px;z
    width: 18px;
    justify-content: center;  
    width: 3.5rem;

    /* padding: 1rem; */
}

.open-menu:hover {
    background-color: hsl(13deg 75% 58% / 100%);
    cursor: pointer;
}s

.open-menu .icon-open {
    display: inline;
    height: 14px;
    width: 23px;
}

.open-menu .icon-close {
    display: none;
}

.open-menu.open .icon-open {
    display: none;
}

.open-menu.open .icon-close {
    display: inline;
    height: 18px;
    width: 18px;
    justify-content: center;
    width: 3.5rem;

    /* padding: 1rem; */
}

.open-menu:hover {
    background-color: hsl(13deg 75% 58% / 100%);
    cursor: pointer;
}

.open-menu .icon-open {
    display: inline;
    height: 14px;
    width: 23px;
}

.open-menu .icon-close {
    display: none;
}

.open-menu.open .icon-open {
    display: none;
}

.open-menu.open .icon-close {
    display: inline;
    height: 18px;
    width: 18px;
    justify-content: center;
    width: 3.5rem;

    /* padding: 1rem; */
}

.open-menu:hover {
    background-color: hsl(13deg 75% 58% / 100%);
    cursor: pointer;
}

.open-menu .icon-open {
    display: inline;
    height: 14px;
    width: 23px;
}

.open-menu .icon-close {
    display: none;
}

.open-menu.open .icon-open {
    display: none;
}

.open-menu.open .icon-close {
    display: inline;
    height: 18px;
    width: 18px;
    justify-content: center;
    width: 3.5rem;

    /* padding: 1rem; */
}

.open-menu:hover {
    background-color: hsl(13deg 75% 58% / 100%);
    cursor: pointer;
}

.open-menu .icon-open {
    display: inline;
    height: 14px;
    width: 23px;
}

.open-menu .icon-close {
    display: none;
}

.open-menu.open .icon-open {
    display: none;
}

.open-menu.open .icon-close {
    display: inline;
    height: 18px;
    width: 18px;
    justify-content: center;
    width: 3.5rem;

    /* padding: 1rem; */
}

.open-menu:hover {
    background-color: hsl(13deg 75% 58% / 100%);
    cursor: pointer;
}

.open-menu .icon-open {
    display: inline;
    height: 14px;
    width: 23px;
}

.open-menu .icon-close {
    display: none;
}

.open-menu.open .icon-open {
    display: none;
}

.open-menu.open .icon-close {
    display: inline;
    height: 18px;
    width: 18px;
}
