/* stylelint-disable scss/at-rule-no-unknown */

/* @import-normalize; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab:wght@300;400;700&family=Roboto:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply h-full w-full m-0 p-0 font-sans antialiased bg-neutral-100 dark:bg-neutral-1000 overflow-y-hidden;
        /* text-[62.5%] */
    }
}

@layer components {
    .markdown-preview-utils {
        @apply items-center justify-between flex font-sans leading-4 tracking-[.125rem] px-2 uppercase w-full;

        /* hover:bg-blue-700 focus:outline-none ; */
    }

    [onClick],
    button {
        cursor: pointer;
    }

    .preview h1 {
        
    }

    /* .preview {
        background-color: theme(colors.neutral.100);
    } */

    .switch-indicator {
        @apply bg-neutral-100 rounded-[50%] h-3 w-3 relative transition-transform duration-1000 transform
        /* @apply transi */
        /* background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        height: 12px;
        left: 0.4rem;
        position: relative;
        top: -1.3rem;
        transform: translate3d(0, 0, 0);
        transition: transform 600ms cubic-bezier(0.02, 0.94, 0.09, 0.97),
            background 300ms cubic-bezier(0.17, 0.67, 0.14, 1.03);
        width: 12px;
        z-index: 100; */;
    }

    .radio-mode {
        @apply h-6 m-0 p-0 w-6 opacity-0;
    }

    #dark-mode-true:checked ~ .switch-indicator {
        transform: translate3d(0.1rem, 0, 0);
    }

    #dark-mode-false:checked ~ .switch-indicator {
        transform: translate3d(1.4rem, 0, 0);
    }
}

* {
    @apply transition-all duration-200 
    /* transition: color 2s ease-in-out, background-color 2s ease-in-out, width 2s ease-in, margin 2s ease-in, */
    /* left 1s ease-in; */;
}

* {
    box-sizing: border-box;
}

#root {
    @apply h-full w-full m-0 p-0 font-sans antialiased bg-neutral-100 dark:bg-neutral-1000 overflow-y-hidden;
}
